$transparent-color: #ffffff00;
$nav-background-color-scroll: #fff;
$link-color: #222;
$link-hover-color: #000;
$link-hover-background-color: #efefef;
$default: #232428;
$white: #fff;
$yellow: #fdcc52;
$muted: #6A7177;
$footer-grey: #cccecd;